<div class="modal" id="contact-modal">
  <div class="modal__content modal__content--contact">
    <form action="/" class="form" method="post">
      <div class="form__group form__group--md">
        <input class="form__control" type="text" placeholder="Введите имя" />
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <input class="form__control" type="email" placeholder="Ваш e-mail" />
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <input
          class="form__control"
          type="text"
          placeholder="Текст сообщения"
          data-autoresize
        />
        <span class="form__line"></span>
      </div>

      <div class="form__footer">
        <div class="form__group form__group--md">
          <button class="btn btn--blue btn--rounded btn--sm" type="submit">
            Отправить
          </button>
        </div>
      </div>
    </form>
    <button class="modal-close" type="button">
      <img src="../assets/images/Modal/close.svg" alt="" />
    </button>

    <ul class="modal__footer">
      <li>e-mail: <a href="mailto:vithvo@bk.ru">info@mywebsite.ru</a></li>
      <li>тел: <a href="tel:+79994435417">+7(999)-443-54-17</a></li>
    </ul>
  </div>
</div>
