<div class="modal">
  <div class="modal__content">
    <button class="modal-close" type="button">
      <img src="../assets/images/Modal/close.svg" alt="" />
    </button>

    <ul class="social">
      <li class="social__item">
        <a social__link href="#" target="_blank">
          <img src="../assets/images/Modal/facebook.svg" alt="instagram" />
        </a>
      </li>
      <li class="social__item">
        <a social__link href="https://vk.com/id255659107" target="_blank">
          <img src="../assets/images/Modal/twitter.svg" alt="twitter" />
        </a>
      </li>
      <li class="social__item">
        <a social__link href="#" target="_blank">
          <img src="../assets/images/Modal/vk.svg" alt="vk" />
        </a>
      </li>
      <li class="social__item">
        <a social__link href="#" target="_blank">
          <img src="../assets/images/Modal/copy.svg" alt="copy" />
        </a>
      </li>
    </ul>
  </div>
</div>
