<aside class="sidebar">
  <div class="sidebar__header">
    <img src="../assets/images/Sidebar/SidebarHeader.jpg" alt="SHeader" />
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="https://placehold.co/100x100" alt="" />
      <div class="profile__name">Хворых Виталий</div>
      <div class="profile__prof">Frontend Development</div>

      <ul class="social">
        <li class="social__item">
          <a social__link href="#" target="_blank">
            <img src="../assets/images/Sidebar/instagram.svg" alt="instagram" />
          </a>
        </li>
        <li class="social__item">
          <a social__link href="https://vk.com/id255659107" target="_blank">
            <img src="../assets/images/Sidebar/vk.svg" alt="vk" />
          </a>
        </li>
        <li class="social__item">
          <a social__link href="#" target="_blank">
            <img src="../assets/images/Sidebar/pinterest.svg" alt="pinterest" />
          </a>
        </li>
      </ul>
      <div class="profile__text">
        <p>
          Front-end разработчик. Практик верстки сайтов. Созданием сайтов
          занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал
          более 10 000 часов в создании сайтов различной сложности.
        </p>
      </div>
    </div>
  </div>

  <div class="sidebar__footer">
    <button
      onclick="document.location='works.html'"
      type="button"
      class="btn btn--red"
    >
      Мои работы
    </button>
    <button
      onclick="document.location='contact-modal.html'"
      type="button"
      class="btn btn--blue"
    >
      Написать мне
    </button>
  </div>
</aside>
