.add-post {
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 15px 25px rgba($black, 0.45);
  background-color: $secondary;
  border-radius: 5px;

  @include breakpoint($mobile) {
    padding: 1.5rem;
  }
}
.ass-post__form {
  display: flex;
  align-items: flex-end;
}

.add-post__form-actions {
  display: flex;
  width: 12rem;
  flex-shrink: 0;
  justify-content: flex-end;
  @include breakpoint($mobile) {
    width: 9rem;
  }
}

.add-post__textarea {
  overflow: hidden;
  height: 34px;
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: $white;
  border: none;
  background: transparent;
  resize: none;
  width: 80%;
  flex-grow: 1;
  padding: 0;

  &::placeholder {
    color: #d2d2d2;
  }
}

.add-post__file {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background: #d2d2d2 url("/assets/images/AddPost/addphoto.svg") center
    no-repeat;
  cursor: pointer;
  transition: all 0.2s linear;
  input {
    display: none;
  }

  &:hover {
    background-color: darken(#d2d2d2, 10%);
  }

  @include breakpoint($mobile) {
    width: 3.4rem;
    height: 3.4rem;
    background-size: 18px;
  }
}

.add-post__send {
  font-size: 0;
  color: transparent;
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  background-color: $blue;
  border: none;
  margin-left: 1.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
  background: $blue url("/assets/images/AddPost/sendbtn.svg") center no-repeat;

  &:hover {
    background-color: darken($blue, 10%);
  }
  @include breakpoint($mobile) {
    width: 3.4rem;
    height: 3.4rem;
    margin-left: 1rem;
    background-size: 15px;
  }
}
