.comments {
  margin-top: 5rem;
}

.comments__item {
  margin-bottom: 3rem;

  > .comments {
    margin-top: 3rem;
    padding-left: 3rem;

    @include breakpoint($mobile) {
      padding-left: 1.5rem;
    }
  }
}
.comments__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.comments__avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.comments__author {
  padding-left: 1.5rem;
  flex-grow: 1;
  font-size: 1.2rem;
  line-height: 1.4;
}
.comments__name {
  color: $white;
  font-weight: 500;
}
.comments__pubdate {
  color: #757575;
}
.comments__text {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: $white;
}
.comments__reply {
  font-size: 1.2rem;
  line-height: 1.1;
  background: 0;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  color: $blue;
  &:hover {
    text-decoration: underline;
  }
}
