.page {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__title {
  font-size: 2.1rem;
  color: $white;
  margin-bottom: 3rem;

  &--center {
    text-align: center;
  }
}
