.profile {
  width: 100%;
}
.profile__avatar {
  display: block;
  height: 100px;
  width: 100px;
  border: 2px solid $white;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;
}
.profile__name {
  font-style: 1.8rem;
  text-align: center;
}
.profile__prof {
  font-size: 1.4rem;
  font-weight: 300;
  color: #dedede;
  text-align: center;
  margin-bottom: 2rem;
}

.profile__text {
  font-size: 1.2rem;
  text-align: center;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  padding: 3rem 0;
  margin: 3rem 0;
}
