.related {
  border-bottom: 1px solid #1c1c1c;
  padding: 3rem 0 0.5rem;
}

.related__title {
  font-size: 1.6rem;
  color: $white;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.related__list {
  display: flex;
  flex-wrap: wrap;
}
.related__list-item {
  width: 50%;
  margin-bottom: 2.5rem;
}
.related__list-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #f3eba2;
  a {
    color: inherit;
  }
}
.related__list-date {
}
