.search {
  background-color: $primary;
  max-width: 21rem;
  width: 100%;
}

.search__input {
  display: block;
  width: 100%;
  padding: 1.2rem 2rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.2rem;

  color: $white;

  ::placeholder {
    color: rgba($white, 0.4);
  }

  @include breakpoint($tablet) {
    font-size: 1.6rem;
    padding: 0 2rem;
    height: 4rem;
  }
}
