$primary: #202020;
$secondary: #121212;
$white: #fff;
$black: #000;
$red: #ed3024;
$blue: #3137c9;

$zisidebar: 1000;
$ziheader: 1000;
$zimodal: 1050;

$zisidebar-width: 300px;

$tablet: 991px;
$mobile: 575px;
